<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WenBing</display-name>
  <context-param>
    <param-name>flex.class.path</param-name>
    <param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars</param-value>
  </context-param>
  
   
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/action/*</url-pattern>
  </filter-mapping>
 
 
  <listener>
    <listener-class>flex.messaging.HttpFlexSession</listener-class>
  </listener>
  <servlet>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
    <init-param>
      <param-name>services.configuration.file</param-name>
      <param-value>/WEB-INF/flex/services-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>flex.write.path</param-name>
      <param-value>/WEB-INF/flex</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getAnswerServlet</display-name>
    <servlet-name>getAnswerServlet</servlet-name>
    <servlet-class>servlet.getAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAnswerServlet</servlet-name>
    <url-pattern>/getAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getSymptomTreeServlet</display-name>
    <servlet-name>getSymptomTreeServlet</servlet-name>
    <servlet-class>servlet.getSymptomTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSymptomTreeServlet</servlet-name>
    <url-pattern>/getSymptomTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getModelMap</display-name>
    <servlet-name>getModelMap</servlet-name>
    <servlet-class>servlet.getModelMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getModelMap</servlet-name>
    <url-pattern>/getModelMap</url-pattern>
  </servlet-mapping>
</web-app>